<div class="contents row">
  <div class="container">
    <h2>ユーザーの編集</h2>
    <%= form_with model: current_user, id: 'new_user', class: 'new_user', local: true do |f| %>
       <%= render "devise/shared/error_messages", resource: current_user %>

      <div class="field">
        <%= f.label :nickname,'ニックネーム' %> <em>(6文字まで)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "6" %>
      </div>
      
      <div class="field">
        <%= f.label :email,'メールアドレス' %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :family_name,'名字' %><br />
        <%= f.text_field :family_name %>
      </div>

       <div class="field">
        <%= f.label :first_name,'名前' %><br />
        <%= f.text_field :first_name %>
      </div>

      <div class="actions">
        <%= f.submit "更新" ,class: :nav__btn%>
        <%= link_to "キャンセル", root_path, class: :nav__btn %>
      </div>
    <% end %>
  </div>
</div>