<h2>nickname</h2> <%= @user.nickname %><br>
<h2>email</h2> <%= @user.email %><br>
<h2>password</h2> ****** <br>
<h2>family_name</h2> <%= @user.family_name%><br>
<h2>first_name</h2> <%= @user.first_name%><br>

<%= link_to "Edit", edit_user_path(current_user), class: :edit_btn %>
<br><br>