<div class = "edit_background">
  <div class="field">ニックネーム</div> 
  <div class="edit"><%= @user.nickname %></div>

  <div class="field">メールアドレス</div>
  <div class="edit"><%= @user.email %></div>

  <div class="field">パスワード</div>
  <div class="edit">**********</div>

  <div class="field">名字</div>
  <div class="edit"><%= @user.family_name%></div>

  <div class="field">名前</div>
  <div class="edit"><%= @user.first_name%></div>

  <div class="actions"><%= link_to "編集", edit_user_path(current_user), class: :edit__btn %></div>
</div>