<%= form_with model: @pantry, local: true do |f|%>
<%= render 'shared/error_messages',model: @pantry %>
  <div class="field">
    <%= f.label :name, "Pantryの名称（野菜室・飲み物・調味料など）" %><br />
    <%= f.text_field :name, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :description, "備考" %><br />
    <%= f.text_area :description, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :nav__btn  %>
    <%= link_to "キャンセル", root_path, class: :nav__btn %>
  </div>
<% end %>