<%= form_with model: [@pantries,@food], url: pantry_foods_path, method: :post, local: true do |f| %>
  <div class="field">
    <%= f.label :name, 'Foodの名称（にんじん・トマト・牛乳・卵など）' %><br>
    <%= f.text_field :name, id:"prototype_title" %>
  </div>
  
  <div><%= f.label :purchase_day, '購入日を選択' %></div>
  <div><%= f.date_field :purchase_day %></div>

  <div><%= f.label :limit_day, '期限日を選択' %></div>
  <div><%= f.date_field :limit_day %><br><br></div>

  <div class="actions">
    <%= f.submit "保存する", class: :nav__btn %>
     <%= link_to "キャンセル", pantry_foods_path, class: :nav__btn %>
  </div>
<% end %>