<div class="main">
  <div class="inner">
    <div class="form__wrapper">
       <h2 class="page-heading" ><%= link_to "New Food", new_pantry_food_path, class: :nav__btn %></h2>
       <div class="baby">赤ちゃん猫：期限日まで14日以上</div>
       <div class="yawn">あくび猫：期限日が不明で購入日から5日以上 or 期限切れ</div>
       <div class="stare">左記以外は、猫と見つめ合えます</div>

         <div class="card__wrapper">
           <% @foods.each do |food| %>
             <div class ="card">
               <div class="card__body"> 
                 <span class="food_name"><%= food.name %></span>
                 <%= link_to "Foodの削除", pantry_food_path(id: food.id), method: :delete,data: {confirm: 'Foodを削除しますか？'}, class: :nav__btn %>
                 
                 <ul>
                   <li><%= "購入日： #{food.purchase_day}" %></li>
                   <% passingdays = (Date.today) - (food.purchase_day) %>
                   <li><%= "買ってから" %><span class="passing"><%= "#{passingdays.numerator}日" %></span><%= "が経過しました" %></li>
                   <% if food.limit_day.present? %>
                    <li><%= "期限日：" %><span class="passing"><%= food.limit_day %></span></li>
                   <% end %> 
                 
                   <% if food.limit_day.present? && (food.limit_day - Date.today < 0) %>
                    <% limitdays = (food.limit_day) - (Date.today) %>
                    <li class="limitday"><%= "#{limitdays.numerator.abs}日、期限を過ぎています" %></li>
                   <% elsif food.limit_day.present? %>
                    <% limitdays = (food.limit_day) - (Date.today) %>
                    <li class="limitday"><%= "期限まで#{limitdays.numerator}日" %></li>
                   <% elsif passingdays >= 3 %>
                    <li class="limitday"><%= "期限を確認してください" %></li>
                   <% end %>
                 </ul>

                 <% if food.limit_day.present? && (food.limit_day - Date.today >= 14) %>
                   <%= image_tag("baby.milk.png") %>
                   <% elsif  (Date.today - food.purchase_day >= 5) || food.limit_day.present? && (food.limit_day - Date.today < 0) %>
                   <%= image_tag("milk.akubi.png") %>
                   <% else %>
                   <%= image_tag("milk.circle.png") %>
                 <% end %>
               </div>
             </div>
           <% end %>
         </div>

    </div>
  </div>
</div>